.state-categories {

  .category {
    .border-radius;
    .darken-theme;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45%;
    position: relative;
    margin-bottom: @gutter;

    .title {
      .text-over-background;
    }
  }

  @media only screen and (max-width: @mobile-width-detection) {
    .menu-tenant {
      display: none;
    }
  }
}
