<div class="user-view">
    <div class="l-row">
        <h1 class="float-left">{{title}}</h1>
        <div class="float-right">
            <button class="important" ng-click="submit()">Save</button>
        </div>
    </div>
    <div class="l-1-2">
        <div class="l-row">
            <div class="l-1-2 input-label">First name</div>
            <div class="l-1-2"><input type="text" ng-model="user.firstName"/></div>
        </div>
        <div class="l-row">
            <div class="l-1-2 input-label">Last name</div>
            <div class="l-1-2"><input type="text" ng-model="user.lastName"/></div>
        </div>
        <div class="l-row">
            <div class="l-1-2 input-label">Username</div>
            <div class="l-1-2"><input type="text" ng-model="user.userName"/></div>
        </div>
        <div class="l-row">
            <div class="l-1-2 input-label">Password</div>
            <div class="l-1-2">
                <a href="#"
                   ng-show="showForceChangePasswordLink"
                   ng-click="forceChangePassword()"
                   class="input-label text-align-left display-inline-block">
                    Change
                </a>
                <input type="password" ng-show="!showForceChangePasswordLink" ng-model="user.password"/>
            </div>
        </div>
        <div class="l-row">
            <div class="l-1-2 input-label">Role</div>
            <div class="l-1-2">
                <select ng-model="user.role" ng-options="role._id as role.name for role in roles"></select>
            </div>
        </div>
        <div class="l-row">
            <div class="l-1-2 input-label">Tenant</div>
            <div class="l-1-2">
                <div auto-complete
                     ng-model="user.tenantId"
                     endpoint="/rest/tenants"
                     display-property="name"
                     single-selection="true">
                </div>
            </div>
        </div>
    </div>
    <div class="l-1-2">
        <div class="l-row">
            <div class="l-1-2 input-label">Image</div>
            <div class="l-1-2"><input ng-model="user.image" upload /></div>
        </div>
    </div>
</div>
