tags-input {

  .host {
    .input;
    height: auto;
    padding: 5px;
  }

  .tags {
    height: auto;
    padding: 0;
    border: none;
    background-color: transparent;

    &, &.focused {
      box-shadow: none;
    }

    .tag-item {
      background: lighten(@dark, 10%);
      color: white;
      border: none;
      line-height: 26px;
      padding-left: 10px;
      padding-right: 10px;

      &.selected {
        background: @dark;

        &, & a {
          color: @red;
        }
      }

      .remove-button {
        color: white;
      }
    }
  }

  .autocomplete {
    box-shadow: none;
    box-sizing: border-box;
    left: 0;
    margin-top: 1px;
    border-top: none;
    border: none;
    padding-bottom: 0;
    background-color: @input-color;

    .suggestion-item {
      background-color: @input-color;
      padding: 10px;

      &.selected {
        background-color: lighten(@dark, 10%);
        color: white;
      }

      em {
        background-color: @blue;
      }
    }
  }

  &.single-selection {

    .tag-item {
      background-color: transparent;
    }

    .remove-button {
      display: none;
    }
  }
}