* {
  box-sizing: border-box;
}
body {
  padding: 0;
  background-color: @grey-1;
  font-family: Verdana;
  font-size: 1.5rem;
  overflow: hidden;
}

[ui-view] {
  .padding;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

//SPACING
.padding {
  padding: 2% 4%;
}

.marginBottom {
  margin-bottom: 2%;
}