@font-face {
  font-family: mz;
  src: url('/src/common/mz.ttf');
}

@font-face {
  font-family: balsamiq;
  src: url('/src/common/balsamiq.ttf');
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: @dark;
  font-family: Verdana;
  font-size: 1rem;
  overflow: hidden;
}

body, a {
  color: @font-color;
}

/* MICRO CLEARFIX HACK */
.cf { zoom:1; &:after {clear:both; content:"";display:table;} &:before {content:"";display:table;}}

[ui-view].root {
  .offsettedHeight(-@menu-height);
  .big-padding;
}

@media only screen and (max-width: @mobile-width-detection) {
  [ui-view].root {
    .padding;
  }
}

//ALIGNMENT
.v-centered {
  justify-content: space-around;
  display: flex;
  align-items: center;
  text-align: center;
}

.centered {
  .v-centered;
  justify-content: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

//DISPLAY
.display-block {
  display: block;
}

.display-inline-block {
  display: inline-block;
}

//SPACING
.padding {
  padding: @gutter;
}

.big-padding {
  padding: @big-gutter;
}

.rectangle-padding {
  padding: @gutter * 0.7 @gutter;
}

.margin-bottom {
  margin-bottom: @gutter;
}

//TITLES
h1, h2, h3 {
  font-weight: normal;
}

h1:first-child,
h2:first-child,
h3:first-child {
  margin-top: 0;
}

.warning {
  display: block;
  text-align: center;
  color: @red;
}

//MESSAGING
.msg-info {
  .padding;
  .border-radius;
  color: white;
  background-color: @blue;
}

//LIST ITEMS
.list-item {
  .darken-theme;
  .cf;
  .border-radius;
  .margin-bottom;
  .padding;
  height: @list-item-height;
}

//SETS
.dark-theme {
  background-color: @dark;
  color: @grey-5;
}

.darken-theme {
  background-color: @darken;
  color: @grey-5;
}

//BORDER
.border-radius {
  border-radius: @border-radius;
}

.border-bottom {
  border-bottom: 1px solid @grey-2;
}

.text-border(@color: @blue, @width: 2px) {
  @half-width: @width / 2;
  text-shadow: @width 0 0 @color, -@width 0 0 @color, 0 @width 0 @color, 0 -@width 0 @color, 1px 1px @color, -@half-width -@half-width 0 @color, @half-width -@half-width 0 @color, -@half-width @half-width 0 @color;
}

//OFFSETTED DIMENSIONS
.offsettedWidth(@offset: 0px, @width:100%){ width: -webkit-calc(@width+~"+"@offset) !important; }
.offsettedHeight(@offset: 0px, @height:100%){ height: -moz-calc(@height + ~" + "@offset) !important; height: -o-calc(@height + ~" + "@offset) !important; height: calc(@height + ~" + "@offset) !important; height: -webkit-calc(@height + ~" + "@offset) !important; }
.offsettedMaxHeight(@offset: 0px, @height:100%){ max-height: -moz-calc(@height + ~" + "@offset) !important; max-height: -o-calc(@height + ~" + "@offset) !important; max-height: calc(@height + ~" + "@offset) !important; max-height: -webkit-calc(@height + ~" + "@offset) !important; }
.offsettedTop(@offset: 0px, @top:100%){ top: -moz-calc(@top + ~" + "@offset) !important; top: -o-calc(@top + ~" + "@offset) !important; top: calc(@top + ~" + "@offset) !important;top: -webkit-calc(@top + ~" + "@offset) !important; }
.offsettedLeft(@offset: 0px, @left:100%){ left: -moz-calc(@left + ~" + "@offset) !important; left: -o-calc(@left + ~" + "@offset) !important; left: calc(@left + ~" + "@offset) !important; left: -webkit-calc(@left + ~" + "@offset) !important; }
.offsettedHalfWidth(@offset: 0px, @width:50%){ width: -webkit-calc(@width+~"+"@offset) !important; }
.offsettedHalfHeight(@offset: 0px, @height:50%){ height: -moz-calc(@height + ~" + "@offset) !important; height: -o-calc(@height + ~" + "@offset) !important; height: calc(@height + ~" + "@offset) !important; height: -webkit-calc(@height + ~" + "@offset) !important; }