* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  color: @grey-3;
  background-color: @grey-1;
  font-family: Verdana;
  font-size: 1.5rem;
  overflow: hidden;
}

/* MICRO CLEARFIX HACK */
.cf { zoom:1; &:after {clear:both; content:"";display:table;} &:before {content:"";display:table;}}

[ui-view].root {
  .padding;
  height: 80%;
}

//ALIGNMENT
.centered {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

//SPACING
.padding {
  padding: 15px;
}

.margin-bottom {
  margin-bottom: 2%;
}

//TITLES
h1:first-child,
h2:first-child,
h3:first-child {
  margin-top: 0;
}