.action {
  .padding;
  color: white;
  background-color: @grey-4;
  cursor: pointer;

  &:hover {
    background-color: @grey-5;
  }
}

button {
  .padding;
  .centered;
  float: left;
  border: none;
  cursor: pointer;

  &.important {
    background-color: @blue;
    color: white;
  }
}