icon {
  font-family: mz;
  display: block;
}

.up-icon:before {
  content: "a";
}

.down-icon:before {
  content: "b";
}

.settings-general-icon:before {
  content: "c";
}

.settings-tests-icon:before {
  content: "d";
}

.settings-users-icon:before {
  content: "e";
}

.fail-icon:before,
.close-icon:before {
  content: "f";
}

.ok-icon:before {
  content: "g";
}