input,
button {
  .padding;
  display: block;
}

input {
  color: @blue;
  outline: none;
  border: 1px solid @grey-2;
  font-size:120%;
  width: 100%;

  &:focus {
    border-color: @blue;
  }
}

.input-label {
  text-align: right;
  margin-top: 1.5%;
}