<div class="test-view">
    <div class="cf">
        <h1 class="float-left">{{title}}</h1>

        <div class="float-right">
            <button class="important" ng-click="submit()">Save</button>
        </div>
    </div>
    <div class="cf">
        <div class="cf">
            <div class="l-1-4 input-label">Question</div>
            <div class="l-1-4"><input type="text" ng-model="test.question.text"/></div>
            <div class="l-1-4"><input ng-model="test.question.image" upload /></div>
            <div class="l-1-4"><input type="text" ng-model="test.question.imageUrl" /></div>
        </div>
        <div class="cf" ng-repeat="answer in test.answers">
            <div class="l-1-4 input-label">Answer {{$index + 1}}</div>
            <div class="l-1-4"><input type="text" ng-model="answer.title"/></div>
            <div class="l-1-4">
                Correct?
                <input type="radio" ng-model="$parent.correctOptionIndex" value="{{$index}}"/>
            </div>
            <div class="l-1-4">
                Explanation
                <input type="text" ng-model="answer.explanation"
                       ng-disabled="$index == $parent.correctOptionIndex"/>
            </div>
            <div class="l-1-4"><input type="text" ng-model="answer.imageUrl" /></div>
            <div class="l-1-4"><input ng-model="answer.image" upload /></div>
        </div>
    </div>
</div>
