<div class="tests-view">
    <div class="cf">
        <h1 class="float-left">Tests for category {{category.title}}</h1>

        <div class="float-right">
            <button class="important" ng-click="add()">Add</button>
        </div>
    </div>
    <div ng-if="!tests.length" class="msg-info">
        There aren't tests on this category yet.
        Click on the 'Add' button to attach a new test to it.
    </div>
    <div class="test" ng-if="tests.length" ng-repeat="test in tests">
        <div class="text float-left">
            <div class="l-1-2" truncate>
                {{test.question.text}}
            </div>
            <div class="l-1-2">
                <div ng-repeat="answer in test.answers" truncate title="{{answer.title}}"
                     ng-class="{ correct: answer.isCorrect }"
                     class="answer l-1-{{test.answers.length}} t{{$index}}">
                    {{answer.title}}
                </div>
            </div>
        </div>
        <div class="float-right">
            <button>
                <icon class="up-icon"></icon>
            </button>
            <button>
                <icon class="down-icon"></icon>
            </button>
            <button ng-click="edit(test)">Edit</button>
            <button class="delete" ng-click="confirmDelete(test)">Delete</button>
        </div>
    </div>
    <div dialog mz-if="testToBeDeleted" title="Delete test">
        <label class="warning">Warning</label><br/>
        The following test will be deleted<br/><br/>
        <b>{{testToBeDeleted.question.text}}</b><br/><br/>
        <button class="delete" ng-click="delete()">Delete</button>
    </div>
</div>
