@header-height: 100px;
@footer-height: 54px;

.portal-padding {
  padding: @big-gutter 2 * @big-gutter;
  max-width: 1140px;
  margin: 0 auto;

  @media only screen and (max-width: @mobile-width-detection) {
    padding: @gutter;
  }
}

.portal {
  .darken-theme;
  font-size: 150%;

  a {
    color: @blue;
  }

  [ui-view] {
    .offsettedMinHeight(-@header-height - @footer-height);
    .dark-theme;
  }
}

.header {
  .portal-padding;
  .darken-theme;
  padding-top: 0;
  padding-bottom: 0;
  position: relative;
  height: @header-height;
}

.header-logo {
  height: 100%;
  padding: 1.5 * @gutter 0;
  float: left;

  img {
    height: 100%;
    width: 250px;
  }

  @media only screen and (max-width: @mobile-width-detection) {
    padding: @gutter / 2 0;
  }

  .ua-firefox & {
    width: 200px;
  }
}

.header-menu {
  float: right;

  @media only screen and (max-width: @mobile-width-detection) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
}

.header-menu-mobile-visible {
  display: block;
}

.header-menu-mobile-toggle {
  .portal-padding;
  display: none;
  float: right;

  @media only screen and (max-width: @mobile-width-detection) {
    display: block;
  }
}

.header-menu-link,
.header-menu-text {
  display: block;
  float: left;
  padding: 2.5 * @gutter @gutter;
  text-decoration: none;

  @media only screen and (max-width: @mobile-width-detection) {
    .darken-theme;
    padding: @gutter;
    width: 100%;
  }
}

.header-menu-link.active {
  color: @blue;
}

.header-menu-link:not(.active) {
  color: white;
}

.header-menu-logged-user {
  float: left;

  @media only screen and (max-width: @mobile-width-detection) {
    .darken-theme;
    width: 100%;

    & > * {
      width: auto;
    }
  }
}

.header-menu-link-current-user {
  padding-right: 0;
  color: @grey-5;
}

.footer {
  .darken-theme;
  .padding;
  height: @footer-height;
  text-align: center;
  font-size: 80%;

  @media only screen and (max-width: @mobile-width-detection) {
    font-size: 60%;
  }
}