<div class="portal" ng-class="getPageStyleClass()">
    <div class="header">
        <div class="header-logo">
            <a ui-sref="portal.home">
                <img src="/src/portal/logo.svg" />
            </a>
        </div>
        <div class="header-menu" ng-class="{ 'header-menu-mobile-visible': visibleMobileMenu }">
            <a class="header-menu-link" ui-sref="portal.home" ng-class="getActiveClass('portal.home')">Home</a>
            <a class="header-menu-link" ui-sref="app.categories" target="_blank">Play!</a>
            <a class="header-menu-link" ui-sref="portal.howItWorks" ng-class="getActiveClass('portal.howItWorks')">How it works</a>
            <a class="header-menu-link" ui-sref="portal.contact" ng-class="getActiveClass('portal.contact')">Contact</a>
            <a class="header-menu-link" href="#" ng-click="showLoginDialog()" ng-if="!session">Log in</a>
            <div class="header-menu-logged-user" ng-if="session">
                <div class="header-menu-text header-menu-link-current-user">Hi, {{getUserName(session)}}</div>
                <a class="header-menu-link" href="#" ng-click="logout()">[Logout]</a>
            </div>
        </div>
        <div class="header-menu-mobile-toggle">
            <button class="dark-theme" ng-click="visibleMobileMenu = ( visibleMobileMenu !== true )">
                <icon class="menu-icon"></icon>
            </button>
        </div>
    </div>
    <login visible="isLoginVisible"></login>
    <div ui-view></div>
    <div class="footer">Copyright © 2015 menzit. All rights reserved.</div>
</div>