.upload-view {
  position: relative;
  display: inline-block;
  max-width: 100%;
  min-width: 150px;

  input[type="file"] {
    display: none;
  }

  button.addImage {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .output {


    img {
      .border-radius;
      max-width: 100%;
    }

    button.deleteImage {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}