.menu-view {
  .darken-theme;
  .cf;
  padding: 1.5 * @gutter  @big-gutter;
  height: @menu-height;

  button {
    float: left;

    &.login,
    &.logout {
      float: right;
    }
  }
}

@media only screen and (max-width: @mobile-width-detection) {
  .menu-view {
    .padding;
  }
}