<div class="menu-view">
    <div class="menu-tenant">
        <img class="menu-tenant-logo" ng-src="{{getTenantLogo()}}" />
    </div>
    <div ng-include="'testData.html'" ng-controller="TestDataCtrl"></div>
    <menu-panel is-active="isPanelActive"></menu-panel>
    <button ng-click="showLoginDialog()" ng-if="!session">Login</button>
    <button ng-click="toggleActiveMenuPanel()" ng-if="session">
        <icon class="menu-icon"></icon>
    </button>
    <login visible="isLoginVisible"></login>
</div>
