.menu-view {
  .cf;
  .padding;
  .border-bottom;
  height: @menu-height;

  button {
    float: left;
    background-color: @grey-2;

    &.login,
    &.logout {
      float: right;
    }

    &:hover {
      background-color: @grey-3;
    }
  }

  .score {
    width: 500px;
    height: 30px;
    border: 1px solid black;
    position: relative;

    .progress {
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      left: 0;
      background-color: @green;
    }
  }
}