<div class="menu-view">

    <button class="login" ng-click="showLoginDialog()" ng-if="!session">Login</button>

    <button ng-click="toggleActiveMenuPanel()" ng-if="session">
        <icon class="menu-icon"></icon>
    </button>

    <div ng-include="'testData.html'" ng-controller="TestDataCtrl"></div>

    <menu-panel is-active="isPanelActive"></menu-panel>

    <div dialog title="Login" mz-if="showLogin">
        <form ng-submit="login()">
            <input class="user" ng-model="credentials.userName" type="text"
                   placeholder="Username" autofocus/>
            <input class="password" ng-model="credentials.password" type="password"
                   placeholder="Password"/>
            <button class="important">Login</button>
        </form>
    </div>
</div>
