[ui-view].mz-runTest {

  .question {
    .padding;
    .border-radius;
    .margin-bottom;
    background-color: @green;
    color: white;
    text-align: center;
  }

  .answers-container {
    overflow: hidden;

    .answer {
      .padding;
      .border-radius;
      cursor: pointer;
      background-color: white;
      height: 100%;
      margin-top: 100%;

      .title,
      .explanation {
        .transition(height @speed);
        .centered;

        height: 100%;
      }

      &.invalid-assert {

        .title,
        .explanation {
          height: 50%;
        }
      }

      -webkit-animation: show-question .3s;
      animation: show-question .3s;
      -webkit-animation-fill-mode: forwards;
      animation-fill-mode: forwards;

      &:nth-of-type(2) {
        -webkit-animation-delay: .3s;
        animation-delay: .3s;
      }

      &:nth-of-type(3) {
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
      }

      @-webkit-keyframes show-question {
        .show-question;
      }
      @keyframes show-question {
        .show-question;
      }

      .show-question {
        from {
          margin-top: 100%;
        }
        to {
          margin-top: 0;
        }
      }
    }
  }
}