@size: 500px;
@extended-size: 1.5 * @size;

.base-position {
  position: absolute;
  top: 50%;
  left: 50%;
}

.base-recording-button {
  .base-position;
  background-color: @grey-5;
  cursor: pointer;
  width: @size;
  height: @size;
  border-radius: @size / 2;
  margin: -(@size / 2) 0 0 -(@size / 2);
  opacity: 1;
}

.recording-button {
  .base-recording-button;
  z-index: 1;

  &.recording {
    background-color: red;
  }
}

.base-recording-button-effect(@delay) {
  .base-position;
  -webkit-animation: foo 1.0s infinite;
  -moz-animation: foo 1.0s infinite;
  -ms-animation: foo 1.0s infinite;
  animation: foo 1.0s infinite;
  -webkit-animation-delay: @delay;
  -moz-animation-delay: @delay;
  -ms-animation-delay: @delay;
  animation-delay: @delay;
  @-webkit-keyframes foo { .foo; }
  @-moz-keyframes foo { .foo; }
  @-ms-keyframes foo { .foo; }
  @keyframes foo { .foo; }


  .foo {
    from {
      .base-recording-button;
    }
    to {
      width: @extended-size;
      height: @extended-size;
      border-radius: @extended-size / 2;
      margin: -(@extended-size / 2) 0 0 -(@extended-size / 2);
      opacity: 0;
    }
  }
}

.recording-button-effect-1 {
  background-color: @grey-3;

  &.recording {
    .base-recording-button-effect(0s);
  }
}

.recording-button-effect-2 {
  background-color: @grey-4;

  &.recording {
    .base-recording-button-effect(0.5s);
  }
}