[ui-view].admin {

  .cf;
  padding: 0;

  [ui-view] {
    .padding;
    background-color: white;
  }

  .menu {
    float: left;
    width: 10%;
    height: 100%;

    a {
      .centered;
      height: 33%;
      width: 100%;
      text-decoration: none;

      &.active {
        background-color: white !important;
        color: @grey-4;
      }
    }
  }

  [ui-view] {
    float: left;
    width: 90%;
  }
}