.audio-upload-view {

  @machine-button-group-width: 80px;
  @human-button-group-width: 200px;

  .select-audio-by-machine {
    .offsettedWidth(-@machine-button-group-width);
    float: left;
  }

  .select-audio-by-human {
    .offsettedWidth(-@human-button-group-width);
    float: left;
  }

  .button-group {
    float: left;
    width: @human-button-group-width;
  }

  button {
    margin: 0 0 0 (@gutter / 2);
    float: right;
  }
}