.review-view {

  .incorrect-answer {
    .list-item;

    cursor: pointer;

    & > * {
      height: 100%;
      .v-centered;
    }

    .incorrect-answer-image {
      background-size: cover;
    }
  }
}