<html ng-app="menzit">
<head>

    <link rel="icon" type="image/png" href="/src/common/favicon.png">
    <script src="/src/loader.js" type="text/javascript"></script>

    <script type="text/javascript">

        menzit.controller('test', ['$scope', '$q', 'record', 'graph',
            function ($scope, $q, record, graph) {

                $scope.graphs = [];

                var maxY;

                graph.loadMusic('/audio?q=vegetables').then(function (response) {
                    $scope.graphs.push({
                        size: response.size
                    });
                    maxY = response.maxY;
                });

                $scope.record = function () {
                    record.record();
                };

                $scope.addRecorded = function () {

                    record.get().then(function (recordedUrl) {

                        graph.loadMusic(recordedUrl, maxY).then(function (response) {
                            $scope.graphs.push({
                                size: response.size
                            });

                            $scope.isOk = isOk($scope.graphs[0].size, $scope.graphs[1].size);
                        });
                    });
                };

                function isOk(sourceImageSizeBlocks, fingerprintImageSizeBlocks) {
                    var isOk = true;
                    sourceImageSizeBlocks.forEach(function (sourceImageSizeBlock, $index) {
                        if(!compareBlock(sourceImageSizeBlock, fingerprintImageSizeBlocks[$index])) {
                            isOk = false;
                        }
                    });
                    return isOk;
                }

                function compareBlock(blockA, blockB) {
                    var imageDiff, blockAThreshold, blockBThreshold;
                    imageDiff = blockA - blockB;
                    imageDiff = (imageDiff < 0) ? -imageDiff : imageDiff;
                    blockAThreshold = imageDiff / blockA < 0.3;
                    blockBThreshold = imageDiff / blockB < 0.3;
                    return blockAThreshold && blockBThreshold;
                }
            }]);
    </script>
</head>

<body ng-controller="test">

    <audio-upload></audio-upload>

    <div style="margin:10px;">
        <a class="button" id="record" ng-click="record()">Record</a>
        <a class="button disabled one" id="play" ng-click="addRecorded()">Add recorded</a>
    </div>

    <div id="diff">
        The diff is: {{graphs[0].size}} - {{graphs[1].size}} - {{isOk}}<br/>
    </div>
</body>

</html>