.contact-view {
  .portal-padding;
  .offsettedMinHeight(-@header-height - @footer-height);
  background-image: url('/src/portal/contact/contact.svg');
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 100% auto;
}

.contact-submit {
  float: right;
}

.contact-image {
  max-width: 100%;
}