<div class="question-view">
    <div class="question"
         ng-class="getQuestionStyleClasses(question.question)"
         ng-style="getBackgroundImageStyle(question.question.image)">
        {{question.question.text}}
        <div audio="question.question.text"></div>
    </div>
    <div class="answers-container">
        <div ng-repeat="answer in question.answers"
             class="answer l-answer-{{question.answers.length}}"
             ng-class="getAnswerStyleClasses(answer)"
             ng-style="getBackgroundImageStyle(answer)"
             ng-click="setAnswer(question, $index)">
            <div class="option"><div class="text">{{answerCodes[$index]}}</div></div>
            <div ng-if="answer.validAssert || answer.invalidAssert" class="assert-mark">
                <icon ng-class="{ 'ok-icon': answer.validAssert,  'fail-icon': answer.invalidAssert }"></icon>
            </div>
            <div class="title">{{answer.title}}</div>
            <div class="explanation">{{answer.explanation}}</div>
        </div>
    </div>
</div>