.home-view {

  button {
    background-color: @blue;
  }

  .content {
    text-align: center;

    .main {
      .big-padding;
      .dark-theme;

      @title-height: 90px;
      @action-height: 130px;
      @button-height: 80px;

      .title {
        color: @blue;
        margin-bottom: @big-gutter;

        h1 {
          font-size: 220%;
          margin: 0;
        }
      }

      .media {

        img {
          width: 100%;
        }
      }

      .action {
        height: @action-height;
        padding-top: @action-height - @button-height;

        button {
          display: inline;
          float: none;
          height: @button-height;
          font-size: 130%;
          padding: 1.5 * @gutter 2 * @gutter;
          font-family: balsamiq;
        }
      }
    }

    .secondary {
      .cf;
      padding: 80px @gutter;
      background-color: white;
    }

    .secondary-column:first-child {
      padding-left:  2 * @big-gutter;
      padding-right: @big-gutter;
    }

    .secondary-column:last-child {
      padding-left: @big-gutter;
      padding-right:  2 * @big-gutter;
    }

    .secondary-column-image {
      width: 100%;
      margin-bottom: @big-gutter;
    }
  }
}